" ---- PLUGINS ----
" Commentary plugin
Plug 'tpope/vim-commentary'

" Highlight copied text
Plug 'machakann/vim-highlightedyank'

" NERDTree plugin
Plug 'preservim/nerdtree'

" ------------------

" ---- SETTINGS ----

set autoindent
set relativenumber
set number
set incsearch
set scrolloff=10
set visualbell
set noerrorbells
set expandtab
set tabstop=2
set softtabstop=2
set shiftwidth=2

" ------------------

" ---- CUSTOM MAPPINGS ----
" leader key
let mapleader = "\<Space>"

" source ~/.ideavimrc
nnoremap <leader>so :source ~/.ideavimrc<CR>

" save file
map <leader>w :w<CR>

" toggle file explorer
map <C-f> :NERDTreeToggle<CR>

" tab manipulation
map <C-n> :tabnext<CR>
map <C-p> :tabprevious<CR>
map <leader>q :close<CR>
map <leader>Q :action CloseAllEditorsButActive<CR>

" split manipulation
map <leader>V :vsplit<CR>
map <leader>H :split<CR>
map <C-h> <C-w>h
map <C-l> <C-w>l
map <C-k> <C-w>k
map <C-j> <C-w>j

" system clipboard
map <leader>y "+y
map <leader>p "+p

" find files
map <leader>ff :find<CR>
map <leader>fs :action FindInPath<CR>

" reformat code
map <leader>rf :action ReformatCode<CR>

" toggle breakpoint on current line
map <leader>b :action ToggleLineBreakpoint<CR>

" ------------------------