" ---- PLUGINS ----
" Commentary plugin
Plug 'tpope/vim-commentary'

" Highlight copied text
Plug 'machakann/vim-highlightedyank'

" NERDTree plugin
Plug 'preservim/nerdtree'

" ------------------

" ---- SETTINGS ----

set autoindent
set relativenumber
set number
set incsearch
set scrolloff=10
set visualbell
set noerrorbells
set expandtab
set tabstop=2
set softtabstop=2
set shiftwidth=2

" ------------------

" ---- CUSTOM MAPPINGS ----
" leader key
let mapleader = "\<Space>"

" source ~/.ideavimrc
nnoremap <leader>so :source ~/.ideavimrc<CR>

" toggle file explorer
map <C-f> :NERDTreeToggle<CR>

" tabs
map <C-n> :tabnext<CR>
map <C-p> :tabprevious<CR>
map <leader>q :close<CR>
map <leader>Q :action CloseAllEditorsButActive<CR>

" splits
map <leader>V :vsplit<CR>
map <leader>H :split<CR>
map <C-h> <C-w>h
map <C-l> <C-w>l
map <C-k> <C-w>k
map <C-j> <C-w>j

" clipboard
map <leader>y "+y
map <leader>p "+p

" find
map <leader>ff :find<CR>
map <leader>fs :action FindInPath<CR>

" formatting
map <leader>w :w<CR>
map <leader>rf :action ReformatCode<CR>

" debug
map <leader>dr :action Run<CR>
map <leader>dd :action Debug<CR>
map <leader>ds :action Stop<CR>
map <leader>dm :action RunMenu<CR>
map <leader>db :action ToggleLineBreakpoint<CR>
map <leader>dn :action StepOver<CR>
map <leader>dc :action Resume<CR>

" ------------------------