[user]
	name = JBillson
	email = justin.billson@gmail.com
[credential "helperselector"]
	selected = <no helper>
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = C:/Users/justi/Documents